<section
    class="flex flex-col items-center justify-center gap-4 p-10 text-center"
>
    <h1 class="text-4xl md:text-5xl font-bold">
        Formulario para Evaluar el Nivel de Inteligencia de Negocios (BI)
    </h1>
    <p class="text-md reading-text text-gray-600">
        Este formulario permite evaluar el nivel de madurez en inteligencia de
        negocios de una empresa, proporcionando un diagnóstico claro y
        recomendaciones según el nivel identificado.
    </p>
</section>
