<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>Nivel de Madurez</title>
		<meta
			name="description"
			content="Evalúa el nivel de madurez en Business Intelligence (BI) de tu empresa con nuestro sistema basado en el Modelo de Madurez de Gartner. Obtén recomendaciones personalizadas para mejorar."
		/>
		<meta
			name="keywords"
			content="Business Intelligence, BI, Madurez BI, Modelo Gartner, Evaluación BI, Análisis de Datos, Transformación Digital"
		/>
		<meta name="author" content="Sistema de Evaluación de Madurez BI" />
		<meta
			property="og:title"
			content="Evaluación de Nivel de Madurez en Business Intelligence"
		/>
		<meta
			property="og:description"
			content="Descubre el nivel de madurez en Business Intelligence de tu empresa y obtén recomendaciones para mejorar."
		/>
		<meta property="og:type" content="website" />
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://tudominio.com" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;

	}
</style>
